.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%); // https://sass-lang.com/documentation/values/functions
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
    border-radius: 0.5rem;
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background-color: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
    border-radius: 0.5rem;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
    
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}