.header {
    background: $off-black;
    color: white;
    margin-bottom: $m-size; 
    padding: $m-size 0;
}

//BEM Block - Element - Modifier - https://getbem.com/
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

//https://necolas.github.io/normalize.css/

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size; //48px
    }
}