.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
    border-radius: 0.5rem;
}

.widget__message {
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

.widget-header {
    background: $blue;
    color: $off-white;
    padding: $s-size;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.widget-header__title {
    margin: 0;
}