html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size; //with the 62.5%, it becomes 16px
    background-color: $dark-blue;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}