//Colors
$off-black: #20222B;
$off-white: #A5AFD7;
$dark-blue: #333745;
$blue: #3C4251;
$light-blue: #464B5E;
$purple: #8357C5;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;